<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ra-proxy-config" type="Lithnet.Pan.RAProxy.RAProxyConfigurationSection,Lithnet.Pan.RAProxy" />
  </configSections>

  <ra-proxy-config debug-enabled="true">
    <pan-api-endpoints disable-certificate-validation="true" batch-size="200" batch-wait="50">
      <pan-api-endpoint url="https://test-fw/api/" api-key="LUFRPT1Oa1lhZVlvT2JTckhTY2pRcVpiOStnRkF3OEk9WlR5NENPNEE3MGVFcVRtQ1JLTldSWGtkdC9EcVhRc3VDTW41b0R3eGlHVT0" />
    </pan-api-endpoints>

    <radius-servers>
      <radius-server host="127.0.0.1" secret="test"/>
      <radius-server host="dfgdgffdf" secret="test"/>
    </radius-servers>
    <radius-client accounting-port="1813"/>
  </ra-proxy-config>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>