<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ra-proxy-config" type="Lithnet.Pan.RAProxy.RAProxyConfigurationSection,Lithnet.Pan.RAProxy"/>
  </configSections>

  <ra-proxy-config>
    <pan-api-endpoints batch-size="200" batch-wait="50">
      <pan-api-endpoint url="https://test-fw/api/" api-key="LUFRPT1Oa1lhZVlvT2JTckhTY2pRcVpiOStnRkF3OE"/>
    </pan-api-endpoints>

   <!-- optionally re-write incoming user names to a standardized format based on a regular expression -->

    <username-rewrites output-format="nt4">
      <!--<username-rewrite match="^([^\.\@\\]+)$" replace="domain\$1"/>
      <username-rewrite match="^(.+)@domain.local$" replace="domain\$1"/>-->
    </username-rewrites>
   
    
    <radius-servers>
      <radius-server host="127.0.0.1" secret="test"/>
      <radius-server host="myhost" secret="test"/>
    </radius-servers>
    <radius-client accounting-port="18131"/>
  </ra-proxy-config>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
